{% load static %}
<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>NOAWEB Solutions</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png'%}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css'%}">

    <!-- Modernizer for Portfolio -->
    <script src="{% static 'js/modernizer.js'%}"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>


    
    <header class="header header_style_01">
        <nav class="megamenu navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logos/noa.png'%}" alt="image"  style="width:200px;height: 55px;"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'aboutus' %}">About us</a></li>
                        <li><a class="active" href="{% url 'services' %}">Our Services</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
						<li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
	
   	<div class="banner-area banner-bg-1">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="banner">
						<h2>Our Services</h2>
						<ul class="page-title-link">
							<li><a href="{% url 'home' %}">Home</a></li>
							<li><a href="{% url 'services' %}">Our Services</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div id="about" class="section wb">
        <div class="container">
           <div class="row text-center">
            <h2 style="margin-bottom: 50px"><b>We are here to provide you following properties</b></h2>
				<div class="col-md-3 col-sm-6">
					<div class="about-item">
						<div class="about-icon">
							<span class="icon icon-display"></span>
						</div>
						<div class="about-text">
							<h3>Integrity</h3>
							<p style="padding: 10px">Integrity is basically refers to methods of ensuring that data is real, accurate and safeguarded from unauthorized user modification.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="about-item">
						<div class="about-icon">
							<span class="icon icon-database"></span>
						</div>
						<div class="about-text">
							<h3>Authorization</h3>
							<p style="padding: 10px">Authorization is a security mechanism to determine access levels or user/client privileges related to system resources including urls,files.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="about-item">
						<div class="about-icon">
							<span class="icon icon-magic-wand"></span>
						</div>
						<div class="about-text">
							<h3>Availability</h3>
							<p style="padding: 10px">Availability means that information and service is always accessible to authorized users & can be accessed by authenticated users whenever they're needed.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="about-item">
						<div class="about-icon">
							<span class="icon icon-cloud"></span>
						</div>
						<div class="about-text">
							<h3>Confidentiality</h3>
							<p style="padding: 10px">Confidentiality refers to protecting information from being accessed by unauthorized parties or let's say from hackers,your data can be access by you only.</p>
						</div>
					</div>
				</div>
			</div>   
        </div><!-- end container -->
    </div><!-- end section -->
	
	
 <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <img src="{% static 'images/logos/noa2.png'%}" alt="" />
                        </div>
                        <p> We are a group of final year students pursuing Bachelor's Degree in Computer Engineering from Vidyavardhini's College of Engineering and Technology. We aim to develop this website to help people stay away from cyber threats. We would also like to spread awareness regarding other social engineering attacks that may be harmful to people and make sure that they visit the websites that are legitmate and not fraud.</p>
                    </div><!-- end clearfix -->
                </div><!-- end col -->

				<div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Pages</h3>
                        </div>

                        <ul class="footer-links hov">
                        <li><a href="{% url 'home' %}">Home <span class="icon icon-arrow-right2"></span></a></li>
                        <li><a href="{% url 'aboutus' %}">About <span class="icon icon-arrow-right2"></span></a></li>
                        <li><a href="{% url 'services' %}">Services <span class="icon icon-arrow-right2"></span></a></li>
                        <li><a href="{% url 'login' %}">Login <span class="icon icon-arrow-right2"></span></a></li>
                        <li><a href="{% url 'contact' %}">Contact <span class="icon icon-arrow-right2"></span></a></li>
                    </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-distributed widget clearfix">
                        <div class="widget-title">
                            <h3>Subscribe</h3>
							<p>In today's technological era, phishing attacks have increased to a high rate and people are being exploited. With an intent to stop these attacks, we have created this website that will allow users to detect phishing websites and stay away from them.</p>
                        </div>
						                 
                    </div><!-- end clearfix -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-left">                   
                    <p class="footer-company-name">All Rights Reserved. <a href="{% url 'home' %}">NOAWEB Solutions</a></p>
                </div>

                
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{% static 'js/all.js'%}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/custom.js'%}"></script>
    <script src="{% static 'js/portfolio.js'%}"></script>
    <script src="{% static 'js/hoverdir.js'%}"></script>

</body>
</html>