appdirs==1.4.4
asgiref==3.5.0
astroid==2.4.2
autopep8==1.4.4
beautifulsoup4==4.9.3
bootstrap-builder==0.0.5
bs4==0.0.1
certifi==2019.3.9
cffi==1.14.4
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.3
colorama==0.4.3
configparser==5.0.2
cryptography==3.3.1
defusedxml==0.6.0
distlib==0.3.1
dj-database-url==0.5.0
Django==3.2.13
django-allauth==0.44.0
django-cors-headers==3.11.0
django-countries==7.0
django-crispy-forms==1.11.0
django-debug-toolbar==1.10.1
django-decouple==2.0
django-heroku==0.3.1
django-phonenumber-field==5.0.0
django-utils-six==2.0
filelock==3.6.0
googlesearch-python==1.1.0
gunicorn==20.0.4
idna==2.8
importlib-metadata==3.3.0
isort==5.6.4
joblib==0.17.0
jovian==0.2.41
lazy-object-proxy==1.4.3
lxml==4.6.2
mccabe==0.6.1
numpy==1.21.6
oauthlib==3.0.1
pandas==1.1.5
pep8==1.7.1
Pillow==6.2.2
pipenv==2020.11.15
platformdirs==2.5.1
psycopg2==2.8.6
pycodestyle==2.5.0
pycparser==2.20
PyJWT==2.0.0
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2022.1
PyYAML==6.0
requests==2.21.0
requests-oauthlib==1.2.0
scikit-learn==1.0.2
scipy==1.5.4
six==1.15.0
sklearn==0.0
soupsieve==2.0.1
sqlparse==0.2.4
stripe==2.27.0
threadpoolctl==2.1.0
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.24.2
uuid==1.30
virtualenv==20.2.2
virtualenv-clone==0.5.4
virtualenvwrapper-win==1.2.7
whitenoise==5.2.0
whois==0.9.7
wrapt==1.12.1
zipp==3.4.0